@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&family=Teko:wght@600&display=swap");

body{
  background-color: black;
  color: white;
}
.App {
  /* border: 2px solid goldenrod; */
  text-align: center;
  
}
.header {
  border: 2px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-size: 30px;
  position: fixed;
  /* border: 2px solid magenta; */
  height: 120px;
  width: 100%;
  background-color: white;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Teko', sans-serif;
}
.Box {
  margin: 20px;
  display: inline-block;
  /* border: 2px solid gray; */
  width: 900px;
  height: 900px;
}

#Left-Box {
  /* background-color: greenyellow; */
  width: 300px;
  position: fixed;
  left: 4px;
  top: 106px;
}
#Middle-Box {
  position: relative;
  top: 106px;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Teko', sans-serif;
font-size: 100px;
text-align:justify;
height: 2000px;
}

#scene {
  position: fixed;
  right: 4px;
  top: 106px;
  width: 450px;
}

/* nav{
  font-size: 25px;
} */
/* nav ul li a {
  
  padding:5px;
  margin: px;
  text-decoration: none;
} */
/* nav ul{
  list-style-type: none;
  text-align:justify;
 
} */

nav {
  white-space: nowrap;

  font-size: 25px;
}
nav ul {
  list-style: none;
  margin: 10;
  padding: 20px;
}
/* Only stick if you can fit */

/* nav ul li a {
  display: block;
  padding: 0.5rem 1rem;

  text-decoration: none;
} */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}




/* CSS */
.button-59 {

  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: block;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}